@font-face {
	font-family: "Nunito600";
	src: url("../font/NunitoSans_SemiBold.ttf");
}

@font-face {
	font-family: "Nunito200";
	src: url("../font/NunitoSans_ExtraLight.ttf");
}
@font-face {
	font-family: "Nunito400";
	src: url("../font/NunitoSans_Regular.ttf");
}
@font-face {
	font-family: "Nunito900";
	src: url("../font/NunitoSans_Black.ttf");
}
@font-face {
	font-family: "Nunito700";
	src: url("../font/NunitoSans_Bold.ttf");
}

/* Modal Halal */
.contentModalHalal {
	width: 45vw;
	background-color: white;
	border: none !important;
}
.dialogModalHalal {
	margin-left: 29vw !important;
}
.modalHalal {
	border-radius: 20px !important;
	background-color: white;
	width: 45vw;
	height: 100vh;
}
.labelModalHalal {
	font-family: "Nunito700";
	font-size: 30px;
	line-height: 39px;
	letter-spacing: 0.0025em;
	color: #253863;
}
.isiSertif {
	background-color: #c0c2c3;
}
.icon4img {
	position: relative;
}

.boxIconImgPage {
	background-color: #fbfbfb;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #253863;
	font-family: "Nunito400";
	font-size: 14px;
	text-align: center;
	border-right: 1px solid black;
}
.boxIconImg {
	background-color: #eef1f9;
	color: #253863;
	font-family: "Nunito400";
	font-size: 19px;
}
.img-sertifikat {
	margin-top: -20px;
}
.img-sertifikat img {
	width: 75%;
}
/* Modal Penolakan */
.contentModalPenolakan {
	width: 50vw;
	background-color: white;
	border: none !important;
}
.dialogModalPenolakan {
	margin-left: 25vw !important;
}
.modalPenolakan {
	border-radius: 5px !important;
	background-color: white;
	width: 50vw;
	height: 80vh;
}
.labelModalPenolakan {
	font-family: "Nunito700";
	font-size: 27px;
	line-height: 39px;
	letter-spacing: 0.0025em;
	color: #253863;
}

.alertPenolakan {
	width: 100%;
	height: 15vh;
	border: 1px dashed #ffc600;
	background-color: #fff4cc;
}
.labelPenolakan {
	color: #f9b40a;
	font-family: "Nunito700";
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0em;
}
.hintPenolakan {
	color: #7e8299;
	font-family: "Nunito400";
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
.modalLabelKeterangan {
	font-family: "Nunito700";
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0.0015em;
	text-align: left;
	color: #035397;
}
.formPenolakan {
	width: 100%;
	height: auto;
}
.label-form-penolakan {
	font-family: "Nunito600";
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.0015em;
	color: #646464;
}
.formJenisDokumenPenolakan {
	height: 5vh !important;
	color: #b1b1b1;
	font-family: "Nunito400";
	font-size: 13px !important;
	line-height: 14px;
	letter-spacing: 0.0075em;
}
.formPenolakanTextArea {
	height: 16vh;
	background-color: #eef1f9 !important;
	font-family: "Nunito400";
	font-size: 13px !important;
	line-height: 14px;
	letter-spacing: 0.0075em;
	color: #909090;
}

.alert-konfirm {
	width: 50%;
	z-index: 9999999;
	position: fixed;
	margin-top: 200px;
	margin-left: 50px;
	background-color: #dbf3ef;
	border-radius: 10px;
}
.txt-konfirmasi {
	margin-top: 4px;
	margin-left: 10px;
	font-family: "Nunito600";
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.0015em;
}
.txt-tutup {
	font-family: "Nunito700";
	font-size: 20px !important;
	line-height: 23px;
	letter-spacing: 0.0015em;
	color: #49c2ae !important;
	background-color: #dbf3ef !important;
	border: none !important;
}
/* .txt-tutup:hover {
	font-family: "Nunito700";
	font-size: 20px !important;
	line-height: 23px;
	letter-spacing: 0.0015em;
	color: #49c2ae;
	background-color: #dbf3ef;
    border: none;
} */
/* .txt-tutup:focus {
	font-family: "Nunito700";
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.0015em;
	color: #49c2ae;
	background-color: #dbf3ef;
    border: none;
    box-shadow: none;
} */
