@font-face {
	font-family: "Nunito400";
	src: url("../font/NunitoSans_Regular.ttf");
}
@font-face {
	font-family: "Nunito600";
	src: url("../font/NunitoSans_SemiBold.ttf");
}
.dasboard {
	width: 100vw;
	height: 100%;
	background-color: #f1f5fc;
}

.side-nav {
	background-color: #ffffff;
	width: 14vw;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.side-nav img {
	width: 12vw;
}

.icontokrum {
	height: 13.7vh;
	border-bottom: 2px solid #e5ecfc;
	margin-left: 10px;
	margin-right: 10px;
}

/* SIDE NAV */

.navbtn {
	width: 12vw;
	height: auto;
	margin: 0 auto;
}

.accordion-item {
	border: none !important;
	margin-top: 5px !important;
}
.accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' fill='none' viewBox='0 0 17 10'%3e%3cg id='Group'%3e%3cpath id='Vector' stroke='%23B6BDCB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.25' d='M2 2L8.75 8.75L15.5 2'/%3e%3c/g%3e%3c/svg%3e") !important ;
}
.nonV::after {
	background-image: none !important;
}

.accordion-button {
	padding-left: 1vw !important;
	width: 12vw !important;
	height: 6vh !important;
	color: #b6bdcb !important;
	font-style: "Nunito400" !important;
	line-height: 21.82px !important;
	font-size: 0.9rem !important;
	border-radius: 8px !important;
}

.accordion-header :focus {
	background-color: #253863 !important;
	border: none !important;
	color: white !important;
	box-shadow: none !important;
	outline: none !important;
	font-style: "Nunito600" !important;
	font-weight: 600 !important;
	border-radius: 8px !important;
}
.accordion-button:not(.collapsed) {
	background-color: #253863 !important;
	border: none !important;
	color: white !important;
	border-radius: 8px !important;
	box-shadow: none !important;
	outline: none !important;
	font-style: "Nunito600" !important;
	font-weight: 600 !important;
	border-radius: 8px !important;
}

.radius-top:focus {
	background-color: #253863 !important;
	border: none !important;
	color: white !important;
	border-radius: 8px !important;
	box-shadow: none !important;
	outline: none !important;
	font-style: "Nunito600" !important;
	font-weight: 600 !important;
	/* border-radius: 8px !important; */
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.radius-top:not(.collapsed) {
	border: none !important;
	color: white !important;
	border-radius: 8px !important;
	box-shadow: none !important;
	outline: none !important;
	font-style: "Nunito600" !important;
	font-weight: 600 !important;
	/* border-radius: 8px !important; */
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

/* ACORDION COLLAPSEE */
.body-collapse {
	padding: 0px !important;
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}

/* ACORDION COLLAPSEE */

/* LIST COLLAPSE */
.listCollapse {
	color: #b6bdcb;
	text-align: start;
	background-color: rgb(255, 255, 255);
	width: 12vw !important;
	height: 6vh !important;
	border: none;
	font-family: "Nunito400";
	font-size: 0.8rem;
}
.listCollapse:focus {
	background-color: #eef1f9;
	width: 12vw !important;
	height: 6vh !important;
	color: #1f2f52;
	font-family: "Nunito600";
}

.listCollapse:hover {
	background-color: #eef1f9;
	color: #1f2f52;
	font-family: "Nunito600";
}

/* .nav-link{
	list-style-type: circle !important;
} */
/* LIST COLLAPSE */

/* SIDE NAV */

/* ICON */
.iconDasboard {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' fill='none' viewBox='0 0 18 19'%3e%3cg id='Group'%3e%3cpath id='Vector' fill='%23B6BDCB' d='M17.5127 7.2089L10.0127 0.393274C9.73618 0.140298 9.37498 0 9.0002 0C8.62542 0 8.26422 0.140298 7.9877 0.393274L0.4877 7.2089C0.334142 7.34939 0.211499 7.52029 0.127571 7.71074C0.0436425 7.90119 0.000266169 8.10703 0.000200032 8.31515V16.9495C-0.00589792 17.3277 0.127612 17.6949 0.3752 17.9808C0.51572 18.1406 0.688823 18.2684 0.88287 18.3557C1.07692 18.4431 1.28741 18.4878 1.5002 18.487H6.0002C6.19911 18.487 6.38988 18.408 6.53053 18.2674C6.67118 18.1267 6.7502 17.9359 6.7502 17.737V13.237C6.7502 13.0381 6.82922 12.8474 6.96987 12.7067C7.11052 12.566 7.30129 12.487 7.5002 12.487H10.5002C10.6991 12.487 10.8899 12.566 11.0305 12.7067C11.1712 12.8474 11.2502 13.0381 11.2502 13.237V17.737C11.2502 17.9359 11.3292 18.1267 11.4699 18.2674C11.6105 18.408 11.8013 18.487 12.0002 18.487H16.5002C16.749 18.4892 16.9942 18.4279 17.2127 18.3089C17.4504 18.1794 17.649 17.9884 17.7875 17.7558C17.9261 17.5233 17.9995 17.2577 18.0002 16.987V8.31515C18.0001 8.10703 17.9568 7.90119 17.8728 7.71074C17.7889 7.52029 17.6663 7.34939 17.5127 7.2089V7.2089Z'/%3e%3c/g%3e%3c/svg%3e");
	width: 18.000202178955078px;
	height: 18.48708724975586px;
}
.iconPengguna {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cg id='Group'%3e%3cg id='Frame'%3e%3cpath id='Vector_____0_1_YWSWVHUQUP' fill='%23B6BDCB' d='M12 15.375C14.2782 15.375 16.125 13.5282 16.125 11.25C16.125 8.97183 14.2782 7.125 12 7.125C9.72183 7.125 7.875 8.97183 7.875 11.25C7.875 13.5282 9.72183 15.375 12 15.375Z'/%3e%3cpath id='Vector_____0_2_ORPTSPBLFZ' fill='%23B6BDCB' d='M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97981 4.96452 3.73013 6.48726 2.99217 8.26884C2.25422 10.0504 2.06114 12.0108 2.43734 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46927 20.2579 8.20655 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.745 9.41566 20.7162 6.93859 18.8888 5.11118C17.0614 3.28378 14.5843 2.25496 12 2.25V2.25ZM18.1687 17.475C17.5616 16.6041 16.7793 15.8697 15.8719 15.3187C14.83 16.3169 13.4429 16.8741 12 16.8741C10.5571 16.8741 9.17001 16.3169 8.12812 15.3187C7.22069 15.8697 6.43836 16.6041 5.83125 17.475C4.77541 16.286 4.08567 14.8173 3.84502 13.2455C3.60438 11.6737 3.82309 10.0659 4.47483 8.61549C5.12657 7.16509 6.18357 5.93394 7.51862 5.07021C8.85368 4.20647 10.4099 3.74695 12 3.74695C13.5901 3.74695 15.1463 4.20647 16.4814 5.07021C17.8164 5.93394 18.8734 7.16509 19.5252 8.61549C20.1769 10.0659 20.3956 11.6737 20.155 13.2455C19.9143 14.8173 19.2246 16.286 18.1687 17.475Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");

	width: 24px;
	height: 24px;
}
.iconProduk {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cg id='Group'%3e%3cg id='Frame'%3e%3cpath id='Vector_____0_1_KAWFUNVASZ' fill='%23B6BDCB' d='M21 4.5H3C2.60218 4.5 2.22064 4.65804 1.93934 4.93934C1.65804 5.22064 1.5 5.60218 1.5 6V9.08438V17.9906C1.5 18.3885 1.65804 18.77 1.93934 19.0513C2.22064 19.3326 2.60218 19.4906 3 19.4906H21C21.3978 19.4906 21.7794 19.3326 22.0607 19.0513C22.342 18.77 22.5 18.3885 22.5 17.9906V6C22.5 5.60218 22.342 5.22064 22.0607 4.93934C21.7794 4.65804 21.3978 4.5 21 4.5V4.5ZM12.75 16.5H11.25C11.0511 16.5 10.8603 16.421 10.7197 16.2803C10.579 16.1397 10.5 15.9489 10.5 15.75C10.5 15.5511 10.579 15.3603 10.7197 15.2197C10.8603 15.079 11.0511 15 11.25 15H12.75C12.9489 15 13.1397 15.079 13.2803 15.2197C13.421 15.3603 13.5 15.5511 13.5 15.75C13.5 15.9489 13.421 16.1397 13.2803 16.2803C13.1397 16.421 12.9489 16.5 12.75 16.5ZM18.75 16.5H15.75C15.5511 16.5 15.3603 16.421 15.2197 16.2803C15.079 16.1397 15 15.9489 15 15.75C15 15.5511 15.079 15.3603 15.2197 15.2197C15.3603 15.079 15.5511 15 15.75 15H18.75C18.9489 15 19.1397 15.079 19.2803 15.2197C19.421 15.3603 19.5 15.5511 19.5 15.75C19.5 15.9489 19.421 16.1397 19.2803 16.2803C19.1397 16.421 18.9489 16.5 18.75 16.5ZM3 8.33438V6H21V8.33438H3Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");

	width: 24px;
	height: 24px;
}
.iconPusatBantuan {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cg id='Group'%3e%3cg id='Frame'%3e%3cpath id='Vector_____0_1_BUZGRMPWGQ' fill='%23B6BDCB' d='M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97981 4.96452 3.73013 6.48726 2.99217 8.26884C2.25422 10.0504 2.06114 12.0108 2.43734 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46927 20.2579 8.20655 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.745 9.41566 20.7162 6.93859 18.8888 5.11118C17.0614 3.28378 14.5843 2.25496 12 2.25V2.25ZM12 18C11.7775 18 11.56 17.934 11.375 17.8104C11.19 17.6868 11.0458 17.5111 10.9606 17.3055C10.8755 17.1 10.8532 16.8738 10.8966 16.6555C10.94 16.4373 11.0472 16.2368 11.2045 16.0795C11.3618 15.9222 11.5623 15.815 11.7805 15.7716C11.9987 15.7282 12.2249 15.7505 12.4305 15.8356C12.6361 15.9208 12.8118 16.065 12.9354 16.25C13.059 16.435 13.125 16.6525 13.125 16.875C13.125 17.1734 13.0065 17.4595 12.7955 17.6705C12.5845 17.8815 12.2984 18 12 18ZM12.75 13.4156V13.5C12.75 13.6989 12.671 13.8897 12.5303 14.0303C12.3897 14.171 12.1989 14.25 12 14.25C11.8011 14.25 11.6103 14.171 11.4697 14.0303C11.329 13.8897 11.25 13.6989 11.25 13.5V12.75C11.25 12.5511 11.329 12.3603 11.4697 12.2197C11.6103 12.079 11.8011 12 12 12C12.3708 12 12.7333 11.89 13.0417 11.684C13.35 11.478 13.5904 11.1851 13.7323 10.8425C13.8742 10.4999 13.9113 10.1229 13.839 9.75921C13.7666 9.39549 13.588 9.0614 13.3258 8.79917C13.0636 8.53695 12.7295 8.35837 12.3658 8.28603C12.0021 8.21368 11.6251 8.25081 11.2825 8.39273C10.9399 8.53464 10.647 8.77496 10.441 9.08331C10.235 9.39165 10.125 9.75416 10.125 10.125C10.125 10.3239 10.046 10.5147 9.90533 10.6553C9.76468 10.796 9.57391 10.875 9.375 10.875C9.17609 10.875 8.98532 10.796 8.84467 10.6553C8.70402 10.5147 8.625 10.3239 8.625 10.125C8.625 9.48966 8.80434 8.86723 9.14238 8.32929C9.48042 7.79134 9.96344 7.35974 10.5359 7.08413C11.1083 6.80851 11.7469 6.70007 12.3783 6.77128C13.0096 6.84249 13.608 7.09045 14.1047 7.48666C14.6013 7.88286 14.9761 8.41121 15.1858 9.01094C15.3955 9.61066 15.4317 10.2574 15.2902 10.8768C15.1487 11.4962 14.8352 12.063 14.3858 12.5121C13.9365 12.9613 13.3694 13.2744 12.75 13.4156Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");

	width: 24px;
	height: 24px;
}
.iconMarketing {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none' viewBox='0 0 25 25'%3e%3cg id='Group'%3e%3cg id='Cart%233'%3e%3cpath id='Path 30_____0_1_YZWVWPGWVU' fill='%23B6BDCB' d='M12.5 4.75213L8.09191 10.0419C7.72362 10.4838 7.06678 10.5435 6.62482 10.1752C6.18287 9.80693 6.12315 9.15009 6.49145 8.70813L11.6998 2.45813C12.1162 1.95839 12.8838 1.95839 13.3002 2.45813L18.5086 8.70813C18.8769 9.15009 18.8172 9.80693 18.3752 10.1752C17.9333 10.5435 17.2764 10.4838 16.9081 10.0419L12.5 4.75213Z' opacity='0.3'/%3e%3cpath id='Combined Shape_____0_2_MWCINCAPEE' fill='%23B6BDCB' fill-rule='evenodd' d='M5.15849 9.375C4.44137 9.375 3.95735 10.1076 4.23862 10.7672L7.55593 18.5471C8.02742 19.6528 9.11344 20.3704 10.3155 20.3704H14.6844C15.8866 20.3704 16.9727 19.6527 17.4441 18.5468L20.7606 10.7672C21.0419 10.1075 20.5578 9.375 19.8407 9.375H5.15849ZM14.5833 15.625C14.5833 16.7756 13.6505 17.7083 12.4999 17.7083C11.3494 17.7083 10.4166 16.7756 10.4166 15.625C10.4166 14.4744 11.3494 13.5417 12.4999 13.5417C13.6505 13.5417 14.5833 14.4744 14.5833 15.625Z' clip-rule='evenodd'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");

	width: 25px;
	height: 25px;
}
.iconPengaturan {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cg id='Group'%3e%3cg id='Frame'%3e%3cpath id='Vector_____0_1_LJEQHDOYGI' fill='%23B6BDCB' d='M22.2656 9.77813C22.2423 9.67329 22.1968 9.57467 22.1321 9.48895C22.0674 9.40322 21.9851 9.33239 21.8906 9.28125L19.6594 8.04375C19.5406 7.8 19.4094 7.56563 19.2656 7.34063L19.3031 4.79063C19.304 4.68367 19.2828 4.57768 19.2408 4.47929C19.1989 4.38089 19.1371 4.2922 19.0594 4.21875C17.9484 3.21147 16.6346 2.45385 15.2062 1.99688C15.1037 1.96489 14.9955 1.95504 14.8888 1.96797C14.7822 1.9809 14.6795 2.01631 14.5875 2.07188L12.4031 3.38438C12.1312 3.375 11.8687 3.375 11.5969 3.38438L9.4125 2.07188C9.32054 2.01631 9.21783 1.9809 9.11117 1.96797C9.00451 1.95504 8.89632 1.96489 8.79375 1.99688C7.36356 2.4542 6.04915 3.21533 4.94062 4.22813C4.86219 4.29905 4.79986 4.38595 4.75782 4.48297C4.71577 4.58 4.69499 4.6849 4.69687 4.79063L4.74375 7.34063C4.59375 7.56563 4.4625 7.8 4.33125 8.04375L2.10937 9.28125C2.01376 9.33085 1.93045 9.40121 1.86556 9.48719C1.80068 9.57317 1.75585 9.67257 1.73437 9.77813C1.41559 11.2422 1.41559 12.7578 1.73437 14.2219C1.75766 14.3267 1.80319 14.4253 1.86789 14.5111C1.93259 14.5968 2.01494 14.6676 2.10937 14.7188L4.34062 15.9563C4.46023 16.1988 4.59487 16.4336 4.74375 16.6594L4.69687 19.2094C4.69602 19.3163 4.71722 19.4223 4.75916 19.5207C4.8011 19.6191 4.86287 19.7078 4.94062 19.7813C6.05313 20.7864 7.3665 21.5438 8.79375 22.0031C8.89632 22.0351 9.00451 22.045 9.11117 22.032C9.21783 22.0191 9.32054 21.9837 9.4125 21.9281L11.5969 20.6156H12.4031L14.5969 21.9281C14.7109 22.0031 14.8448 22.0423 14.9812 22.0406C15.0575 22.0373 15.1331 22.0247 15.2062 22.0031C16.6364 21.5458 17.9508 20.7847 19.0594 19.7719C19.1378 19.701 19.2001 19.6141 19.2422 19.517C19.2842 19.42 19.305 19.3151 19.3031 19.2094L19.2656 16.6594C19.4062 16.4344 19.5375 16.2 19.6687 15.9563L21.9 14.7188C21.9931 14.6671 22.0739 14.5959 22.137 14.5102C22.2001 14.4244 22.244 14.3261 22.2656 14.2219C22.5844 12.7578 22.5844 11.2422 22.2656 9.77813V9.77813ZM16.125 12C16.125 12.8158 15.8831 13.6134 15.4298 14.2917C14.9765 14.9701 14.3323 15.4988 13.5786 15.811C12.8248 16.1232 11.9954 16.2049 11.1952 16.0457C10.3951 15.8866 9.66007 15.4937 9.08318 14.9168C8.50629 14.3399 8.11342 13.6049 7.95426 12.8047C7.7951 12.0046 7.87678 11.1752 8.189 10.4214C8.50121 9.66769 9.02992 9.02345 9.70827 8.57019C10.3866 8.11693 11.1841 7.875 12 7.875C13.094 7.875 14.1432 8.3096 14.9168 9.08319C15.6904 9.85677 16.125 10.906 16.125 12Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");

	width: 24px;
	height: 24px;
}
.iconBantuan {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cg id='Group'%3e%3cg id='Frame'%3e%3cpath id='Vector_____0_1_RKVJLFMOBP' fill='%23B6BDCB' d='M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97981 4.96452 3.73013 6.48726 2.99217 8.26884C2.25422 10.0504 2.06114 12.0108 2.43734 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46927 20.2579 8.20655 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.745 9.41566 20.7162 6.93859 18.8888 5.11118C17.0614 3.28378 14.5843 2.25496 12 2.25V2.25ZM12 18C11.7775 18 11.56 17.934 11.375 17.8104C11.19 17.6868 11.0458 17.5111 10.9606 17.3055C10.8755 17.1 10.8532 16.8738 10.8966 16.6555C10.94 16.4373 11.0472 16.2368 11.2045 16.0795C11.3618 15.9222 11.5623 15.815 11.7805 15.7716C11.9987 15.7282 12.2249 15.7505 12.4305 15.8356C12.6361 15.9208 12.8118 16.065 12.9354 16.25C13.059 16.435 13.125 16.6525 13.125 16.875C13.125 17.1734 13.0065 17.4595 12.7955 17.6705C12.5845 17.8815 12.2984 18 12 18ZM12.75 13.4156V13.5C12.75 13.6989 12.671 13.8897 12.5303 14.0303C12.3897 14.171 12.1989 14.25 12 14.25C11.8011 14.25 11.6103 14.171 11.4697 14.0303C11.329 13.8897 11.25 13.6989 11.25 13.5V12.75C11.25 12.5511 11.329 12.3603 11.4697 12.2197C11.6103 12.079 11.8011 12 12 12C12.3708 12 12.7333 11.89 13.0417 11.684C13.35 11.478 13.5904 11.1851 13.7323 10.8425C13.8742 10.4999 13.9113 10.1229 13.839 9.75921C13.7666 9.39549 13.588 9.0614 13.3258 8.79917C13.0636 8.53695 12.7295 8.35837 12.3658 8.28603C12.0021 8.21368 11.6251 8.25081 11.2825 8.39273C10.9399 8.53464 10.647 8.77496 10.441 9.08331C10.235 9.39165 10.125 9.75416 10.125 10.125C10.125 10.3239 10.046 10.5147 9.90533 10.6553C9.76468 10.796 9.57391 10.875 9.375 10.875C9.17609 10.875 8.98532 10.796 8.84467 10.6553C8.70402 10.5147 8.625 10.3239 8.625 10.125C8.625 9.48966 8.80434 8.86723 9.14238 8.32929C9.48042 7.79134 9.96344 7.35974 10.5359 7.08413C11.1083 6.80851 11.7469 6.70007 12.3783 6.77128C13.0096 6.84249 13.608 7.09045 14.1047 7.48666C14.6013 7.88286 14.9761 8.41121 15.1858 9.01094C15.3955 9.61066 15.4317 10.2574 15.2902 10.8768C15.1487 11.4962 14.8352 12.063 14.3858 12.5121C13.9365 12.9613 13.3694 13.2744 12.75 13.4156Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");

	width: 24px;
	height: 24px;
}
.iconTransaksi {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cg id='Group'%3e%3cg id='IONIcon/C/cash/default' clip-path='url(%23clip0_299_16527)'%3e%3cpath id='Vector_____0_0_DKDSVENLLE' fill='%23B6BDCB' d='M21 18.7492H2.99997C2.80106 18.7492 2.6103 18.6702 2.46964 18.5295C2.32899 18.3889 2.24997 18.1981 2.24997 17.9992C2.24997 17.8003 2.32899 17.6095 2.46964 17.4689C2.6103 17.3282 2.80106 17.2492 2.99997 17.2492H21C21.1989 17.2492 21.3896 17.3282 21.5303 17.4689C21.6709 17.6095 21.75 17.8003 21.75 17.9992C21.75 18.1981 21.6709 18.3889 21.5303 18.5295C21.3896 18.6702 21.1989 18.7492 21 18.7492Z'/%3e%3cpath id='Vector_____0_1_OYLNACPQZS' fill='%23B6BDCB' d='M19.5001 20.9993H4.50008C4.30117 20.9993 4.11041 20.9203 3.96975 20.7797C3.8291 20.639 3.75008 20.4483 3.75008 20.2493C3.75008 20.0504 3.8291 19.8597 3.96975 19.719C4.11041 19.5784 4.30117 19.4993 4.50008 19.4993H19.5001C19.699 19.4993 19.8898 19.5784 20.0304 19.719C20.1711 19.8597 20.2501 20.0504 20.2501 20.2493C20.2501 20.4483 20.1711 20.639 20.0304 20.7797C19.8898 20.9203 19.699 20.9993 19.5001 20.9993Z'/%3e%3cpath id='Vector_____0_2_EREFXQJPZA' fill='%23B6BDCB' d='M1.49998 12.7498H0.749984V14.9998C0.749984 15.3976 0.908019 15.7792 1.18932 16.0605C1.47063 16.3418 1.85216 16.4998 2.24998 16.4998H4.49998V15.7498C4.49911 14.9544 4.18276 14.1919 3.62034 13.6295C3.05792 13.067 2.29537 12.7507 1.49998 12.7498V12.7498Z'/%3e%3cpath id='Vector_____0_3_SSYRTGIRSB' fill='%23B6BDCB' d='M22.5 11.2491H23.25V8.2491H22.5C21.3069 8.24774 20.1631 7.77319 19.3195 6.92958C18.4759 6.08596 18.0013 4.94216 18 3.7491V2.99911H5.99998V3.7491C5.99862 4.94216 5.52407 6.08596 4.68046 6.92958C3.83684 7.77319 2.69304 8.24774 1.49998 8.2491H0.749984V11.2491C0.984359 11.2491 1.23467 11.2491 1.49998 11.2491C2.69304 11.2505 3.83684 11.725 4.68046 12.5686C5.52407 13.4122 5.99862 14.556 5.99998 15.7491V16.4991H18V15.7491C18.0013 14.556 18.4759 13.4122 19.3195 12.5686C20.1631 11.725 21.3069 11.2505 22.5 11.2491V11.2491ZM12 14.2491C11.11 14.2491 10.2399 13.9852 9.49991 13.4907C8.75989 12.9962 8.18312 12.2934 7.84252 11.4712C7.50193 10.6489 7.41281 9.74411 7.58645 8.8712C7.76008 7.99828 8.18866 7.19646 8.818 6.56712C9.44734 5.93779 10.2492 5.5092 11.1221 5.33557C11.995 5.16194 12.8998 5.25105 13.7221 5.59165C14.5443 5.93224 15.2471 6.50902 15.7416 7.24904C16.2361 7.98906 16.5 8.85909 16.5 9.7491C16.4986 10.9422 16.0241 12.086 15.1805 12.9296C14.3368 13.7732 13.193 14.2477 12 14.2491V14.2491Z'/%3e%3cpath id='Vector_____0_4_HIZPQIQUYC' fill='%23B6BDCB' d='M11.9999 12.7494C13.6568 12.7494 14.9999 11.4062 14.9999 9.74938C14.9999 8.09253 13.6568 6.74938 11.9999 6.74938C10.3431 6.74938 8.99992 8.09253 8.99992 9.74938C8.99992 11.4062 10.3431 12.7494 11.9999 12.7494Z'/%3e%3cpath id='Vector_____0_5_NLNEQFTEXU' fill='%23B6BDCB' d='M19.4998 15.7498V16.4998H21.7498C22.1477 16.4998 22.5292 16.3418 22.8105 16.0605C23.0918 15.7792 23.2498 15.3976 23.2498 14.9998V12.7498H22.4998C21.7045 12.7507 20.9419 13.067 20.3795 13.6295C19.8171 14.1919 19.5007 14.9544 19.4998 15.7498Z'/%3e%3cpath id='Vector_____0_6_FROFVIORDL' fill='%23B6BDCB' d='M22.4998 6.7491H23.2498V4.4991C23.2498 4.10128 23.0918 3.71975 22.8105 3.43844C22.5292 3.15714 22.1477 2.99911 21.7498 2.99911H19.4998V3.7491C19.5007 4.54449 19.8171 5.30704 20.3795 5.86946C20.9419 6.43189 21.7045 6.74823 22.4998 6.7491V6.7491Z'/%3e%3cpath id='Vector_____0_7_ZSTNBICQZZ' fill='%23B6BDCB' d='M4.49998 3.7491V2.99911H2.24998C1.85216 2.99911 1.47063 3.15714 1.18932 3.43844C0.908019 3.71975 0.749984 4.10128 0.749984 4.4991V6.7491H1.49998C2.29537 6.74823 3.05792 6.43189 3.62034 5.86946C4.18276 5.30704 4.49911 4.54449 4.49998 3.7491V3.7491Z'/%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_299_16527'%3e%3cpath fill='white' d='M0 0H24V24H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
	width: 24px;
	height: 24px;
}

/* ICON */

/* BOX EXIT */
.boxExit {
	width: auto;
	height: auto;
	bottom: 0;
}

.button-keluar {
	border: 1px solid #ff1818 !important;
	width: 12vw !important;
	height: 42px !important  ;
	background-color: white !important;
	color: #ff0000 !important;
	font-family: "Nunito400" !important;
	font-size: 16px !important;
}

/* content */
.content {
	width: 86vw;
}

.profile {
	height: 13.7vh !important;
	border-bottom: 2px solid #e5ecfc;
	margin-left: 8px;
}

.iconNotif {
	transform: rotate(180deg);
}

.namaProfile {
	color: #253863;
	font-size: 16px;
	font-family: "Nunito600";
	font-weight: 600;
}
.titleJob {
	color: #909090;
	font-size: 14px;
}

.foto {
	width: 43.2px;
	height: 44px;
	border-radius: 4px;
}
.isi {
	height: auto;
}

.btn-notif {
	background-color: rgba(255, 255, 255, 0) !important;
	border: none !important;
}
.btn-notif:focus {
	box-shadow: none !important;
}
.notifCollaps {
	width: 30vw;
	border-radius: 8px;
	position: absolute;
	margin-top: -25px;
	margin-right: 5vw;
	z-index: 100;
}
.card-collapse-notifikasi {
	width: 30vw;
	height: 220px;
	border-radius: 8px;
	box-shadow: 2px grey;
	background-color: red;
}
