*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: #e6e6e6;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: #FFCF5b;
  border-bottom: 1px solid transparent;
}

@font-face{
  font-family: nunito;
  src:url('../font/Nunito_Sans/NunitoSans-Regular.ttf');
}

@font-face{
  font-family: nunito-bold;
  src:url('../font/Nunito_Sans/NunitoSans-Bold.ttf');
} 
@font-face{
  font-family: nunito-semibold;
  src:url('../font/Nunito_Sans/NunitoSans-SemiBold.ttf');
} 
@font-face {
  font-family: regular;
  src: url('../font/NunitoSans_Regular.ttf');
}
button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
/* .content {

  display: none;
} */
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
.icon-warning{
  margin-left: 25%;
  width: 50%;

}
.txt-header{
  text-align: center;
}
.modal-warning{
  z-index: 3000 !important;
  position: fixed;
  margin-top: -600px;
  margin-left: 30%;
  width: 40%;
}
.kotak-nomor{
  margin-left: 40%;
}
.txt-masukan{
  margin-top: -6%;
}
.tabsss{
  margin-left: 2%;
  margin-bottom: 8%;
  margin-top: 1%;

}
.txt-judul{
  font-size: 14px !important;
  color: #8F90A6!important;
  width: 150px;
  font-family: nunito-semibold;

}
.txt-on{
  font-size: 14px;
  color: #5979C0;
  width: 150px;
}
.all-steps{
  padding-left: 50px;
}
.daftarkan-txt{
  font-size: 36px;
  font-family: nunito;
}
.pastikan-txt{
  font-size:24px;
  font-family: nunito;

}
.form-row{
  margin-top: 10px;
}
.title{
  font-size: 20px;
  margin-left: 5%;
  margin-bottom: 2%;
  font-family: nunito-bold;
  margin-top: -70px;
  margin-left: 70px;

}
.form-group{
    margin-left: 40px;
    margin-top: -10px;
}
.ktp{
  margin-left: 40px;
  width: 170px !important;
}
.text-berhasil{
  font-family: nunito-bold;
  font-size: 16px;
  margin-top: 50px;
}
.text-tolak{
  font-family: nunito-bold;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 30px;
}
.ktp-form{
  width: 205%!important;
}
.iconCloseVS{
  z-index: 99999999999999;
  width: 20px !important;
  margin-bottom: -30px;
  margin-top: 20px;
  margin-left: 700px;
}
.icon-berhasil{
  margin-left: 95px;
  margin-top: 20px;
}
.jarak{
  margin-bottom: 5%;
}
.ceklis{
  margin-left: -7px;
}
.VKpopup-berhasil .modal-content {
  margin-top: 100px;
  position: fixed;
  margin-left: 0%;
  width: 20%;
  padding-top: 12px;
  height: 35%;
  z-index: 10000 !important;  
}
.VKpopup-berhasilVerif .modal-content {
  margin-top: 100px;
  position: fixed;
  margin-left: 0%;
  width: 20%;
  padding-top: 12px;
  height: 35%;
  z-index: 1000000 !important;  
}
.kotak-warning{
  margin-top: 40px;
}
.bg{
  z-index:0;
  width: 95%;
}
.title-tolak{
  font-family:nunito;
  margin-top: 10px !important;
}
.logo-warning {
  margin-left:30px;
  margin-top:-130px;
  z-index:10!important;
}
.anda-menolak{
  font-family:nunito-bold;
  margin-top: -130px !important;
}
.untuk-kenyamanan{
  font-family:regular !important;
  color:#7E8299;
  margin-top: -120px !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 22px !important;
}
.alasan{
  font-family:regular;
  font-size: 16px;
  line-height: 20px !important;
  letter-spacing: -0.6% !important;
}
.form-file::after{
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}
.upload-file{
  border-radius: 10px;
  margin-left: -20px;
}
::placeholder {
  border-radius: 8px;
  font-size: 13px;
  color: #909090 !important;
  margin: 10px;
  font-family: Nunito-reguler;
}
.jenisKelamin::placeholder {
  border-radius: 8px;
  font-size: 13px;
  color: #909090 !important;
  margin: 10px;
  font-family: Nunito-reguler;
}
.title-thx{
  margin-top: 100px;
  font-family: nunito;

}
.jenisKelamin{
    width: 355px !important;
    height: 35px;
    margin-left: 30px;
}
.label-jeniskelamin{
    margin-left: 30px;
}
.judulVerif{
    font-family: nunito;
    font-size: 28px;
    color: #3E4094;
    margin-left: 90px;
  margin-top: 20px ;
    width: 263px;
  height: 30px;
  margin-bottom: -20px;
}
.body{
  margin-top: -100px;
}
.VKmodal .modal-content{
  width: 170%;
  margin-left: -180px;
  border-radius: 24px;
}
 .formModal{
  height: 110% !important;
  border-radius: 12px !important;
}
.form-user{
  margin-top:  -10px !important;
  margin-bottom: 10%;
  border-radius: 24px ;
  width: 70%;
  height: 2% !important;
  opacity: 1 !important;
  background-color: white !important;
}
.img-thx{
  margin-left: -30px;
}
.btn{
  margin-top: 5px;
}
.btnBack{
  background-color: white !important;
  border-color: #253863 !important;
  color: #253863 !important;
}
.btnBack5{
  background-color: white !important;
  border-color: #253863 !important;
  color: #253863 !important;
  margin-right: 360px !important;
  margin-bottom: 220px !important;
}
.icon-garis{
  z-index: 999999 !important;
  margin-top: 40px;
  margin-left: -50px;
  height: 2px;
  width: 100px;
}
.steps2, .steps3, .steps4, .steps5{
  margin-left: -60px;
}
/* h1, h2, h3, h4, h5, h6{
  font-family: nunito;
} */
.labelVS{
  color: #646464 !important;
  font-size: 16px;
  font-family: regular ;
  font-weight: 400px;
}
.sec{
  height: 100% !important;
  margin-left: -20px;
  padding-top: 2%;
  margin-top: 0px;
  padding: 12px;
}
input{
  height: 55% ;
}

